.search__bar{
    padding:0.2rem 0.3rem;
    border-radius: 50px;
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
    width: max-content;
    margin-top:10px;
    column-gap: 6rem;
}
.form__group span{
    font-size:1.8rem;
    color:deeppink

}
.form__group input{
    border:none;
    font-size:0.9rem;
    color: var(--heading-color)
    font-weight 500px;
}
.form__group input:focus{
  outline:none;
}
.form__group h6{
  margin-bottom: 0;
}
.form__group-fast{
    border-right:2px solid #ddd;

}
.search__icon i{
    font-size:1.6rem;
    padding:0.5rem;
    background:var(--secondary-color);
    color:#f8f4f4;
    border-radius: 10px 5px 10px 5px;
    cursor:pointer;
}